body {
	background-image: url("../images/background.png");

}

#starting-point {
	height: 250px;
	background-color: black;
	opacity: 0.85;
}

#combat {
	height: 500px;
	background-color: gray;
	opacity: 0.85;
}

#opponents {
	height: 250px;
	background-color: red;
	
}

#display {
	height: 50px;
	background-color: #2FF923;
	opacity: 0.7;
	text-align: center;
}

#pet-wars {
	font-size: 40px;
	text-align: center;
	background-color: yellow;
	opacity: 0.7;
	text-decoration-color: black;
}

.profile-pic {
	height: 250px;
	width: 170px;
}

.character {
	height: 250px;
	width: 170px;
}

#choose {
	color: white;
	float: right;
	font-size: 30px;
}

#health {
	text-align: center;
	font-size: 30px;
}

#opponent-health {
	text-align: center;
	font-size: 30px;
}

#instructions {
	font-size: 40px;
}

button {
	font-size: 30px;
	margin-top: 10px;
}